*~
db/*.sqlite
modele/cache/fichiers/*
ui/cache/fichiers/*
fichiers/emails/*
fichiers/news/*
fichiers/envois/*
fichiers/iumm/min/*
conf/*.php
tmp/*
modele/corbeille/*
ui/includes/upload/server/php/thumbnails/*
ctl/exec/cli/import_v0.php
